<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruqii.com.androidopengldemo">

    <!--配置OpenGL版本-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".redener.FGLViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".image.SGLViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".varying.VaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>